* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
    --firstValue: 31;
    --secondValue: 255;
    --thirdValue: 98;
    --forthValue: 30;
    --fifthValue: 0;
    --sixthValue: 255;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg,#ba2f2f, #2f34ba, #2fba3fe9);
    background-size: 400% 400%;
    overflow: hidden;
    animation: change 10s ease-in-out infinite;
}

div {
    background-color: #c7c7c7;
    width: 6vw;
    height: 4vh;
    margin: 10px;
    position: absolute;
    border: 2.5px solid rgb(32, 29, 29);
    border-radius: 5px;
}

.ball {
    --x: 50;
    --y: 50;

    left: calc(var(--x) * 1vw);
    bottom: calc(var(--y) * 1vh);
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    transform: translate(-50%);
    position: absolute;
    background-color: #c7c7c7;
    border: 2.5px solid rgb(32, 29, 29);
}

.platform {
    --platfposit: 200px;
    --platfposit2: 0;
    background-color: #c7c7c7;
    position: absolute;
    left: calc(var(--platfposit) * 1vh);
    bottom: calc(var(--platfposit2) * 1vh);
    width: 8vw; 
    right: 4vw;
    height: 2vh;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2.5px solid rgb(32, 29, 29);
}

.minions {
    width: 400px;
    height: 200px;
    margin-bottom: 40px;
}

#minions img  {
    width: 100%;
}

.game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 5;
    width: 50vw;
    height: 40vh;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

#won {
    text-align: center;
    font-size: 3em;
    width: 100%;
    color: rgb(38, 38, 38);
}

#points {
    text-align: center;
    font-size: 2em;
    width: 100%;
    font-weight: 100;
}

button {
    width: 90%;
    background-color: rgb(38, 38, 38);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: block;
    border-radius: 5px;
  
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@media (max-width: 1050px) {
    .platform {
        width: 16vw;
    }
}