* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --firstValue: 31;
    --secondValue: 255;
    --thirdValue: 98;
    --forthValue: 30;
    --fifthValue: 0;
    --sixthValue: 255;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg,#ba2f2f, #2f34ba, #2fba3fe9);
    background-size: 400% 400%;
    overflow: hidden;
    animation: change 10s ease-in-out infinite;
}

div {
    background-color: #c7c7c7;
    width: 6vw;
    height: 4vh;
    margin: 10px;
    position: absolute;
    border: 2.5px solid rgb(32, 29, 29);
    border-radius: 5px;
}

.ball {
    --x: 50;
    --y: 50;

    left: calc(var(--x) * 1vw);
    bottom: calc(var(--y) * 1vh);
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    transform: translate(-50%);
    position: absolute;
    background-color: #c7c7c7;
    border: 2.5px solid rgb(32, 29, 29);
}

.platform {
    --platfposit: 0;
    --platfposit2: 0;
    background-color: #c7c7c7;
    position: absolute;
    left: calc(var(--platfposit) * 1vh);
    bottom: calc(var(--platfposit2) * 1vh);
    width: 8vw; 
    right: 4vw;
    height: 2vh;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2.5px solid rgb(32, 29, 29);
}

.game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 5;
    width: 50vw;
    height: 40vh;
    background-color: white;
}

.hide {
    display: none;
}


@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}